.info-hobbies {
  width: calc(100vw - 20px);
  max-width: 500px;
  position: relative;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid black;

  h1 {
    &::first-letter {
      color: red;
    }
  }

  .hobbies-paragraph {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2px;
  }

  .return {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-weight: bold;
  }
}
