main {
  display: flex;
  padding: 10px;
  padding-bottom: 0;

  h4 {
    color: teal;
  }

  .skills {
    .skills-hard {
      width: 200px;
      height: 195px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }

    .skills-soft {
      width: 200px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }

    .languages {
      width: 200px;
      height: 95px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    border: 3px solid teal;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 15px;

    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;

      .pagelink {
        color: deeppink;
      }
    }

    .education {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }

    .experience {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }

    .certificates {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid teal;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 15px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  main {
    flex-direction: column;
    z-index: 1;

    .skills {
      width: 100%;

      .skills-hard {
        width: 49%;
        float: left;
        margin-right: 5px;
      }

      .skills-soft {
        width: 49%;
        height: 195px;
      }

      .languages {
        width: 100%;
      }
    }

    .bio {
      width: 100%;

      .about {
        width: 100%;
      }

      .education {
        width: 100%;
      }

      .experience {
        width: 100%;
      }

      .certificates {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  main {
    flex-direction: column;

    .skills {
      flex-wrap: wrap;

      .skills-hard {
        width: 49%;
        float: left;
        margin-right: 5px;
      }

      .skills-soft {
        width: 49%;
        height: 195px;
      }

      .languages {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    margin-top: 50px;

    .skills {
      width: 220px;

      .skills-hard {
        width: 100%;
      }

      .skills-soft {
        width: 100%;
      }

      .languages {
        width: 100%;
      }
    }

    .bio {
      width: 500px;
      margin-left: 15px;

      .about {
        width: 100%;
      }

      .education {
        width: 100%;
      }

      .experience {
        width: 100%;
      }

      .certificates {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
    margin-top: 50px;

    .skills {
      width: 220px;
    }

    .bio {
      width: 500px;
      margin-left: 15px;
    }
  }
}

@media print {
  main {
    flex-direction: row;
    margin-top: 50px;

    .skills {
      width: 220px;
    }

    .bio {
      width: 500px;
      margin-left: 15px;
    }
  }
}
