footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;

  .qr {
    margin-left: 10px;
    margin-right: 7px;
  }

  .demos {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -22px;
    z-index: 1;

    .demos-heading-paragraph {
      margin-top: 14px;
      font-size: 14px;
      font-weight: bold;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      color: red;
    }

    .demo-item {
      display: flex;
      gap: 5px;
      font-size: 12px;
      font-weight: bold;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      a {
        font-size: 12px;
        font-weight: bold;
        transition: 0.2s;

        &:hover {
          color: white;
        }
      }

      .interesting-project {
        &:not(:hover) {
          color: cadetblue;
        }
      }
    }
  }

  .square {
    box-sizing: border-box;
    border: 3px solid #e9d66b;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

@media print {
  .demos {
  }
}

@media screen and (min-width: 320px) {
  footer {
    position: relative;

    .qr {
      width: 70px;
    }

    .square {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 3px;
      right: 10px;
      box-sizing: border-box;
      border-top-color: transparent;
      border-left-color: transparent;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    width: 753px;

    .qr {
      width: 85px;
    }

    .square {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    width: 753px;

    .qr {
      width: 85px;
    }

    .square {
      width: 50px;
      height: 50px;
    }
  }
}

@media print {
  footer {
    width: 753px;
    position: relative;

    .qr {
      width: 85px;
    }

    .square {
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
