header {
  display: flex;
  padding: 10px;
  z-index: 3;

  .round {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px teal;
  }

  .upper-block {
    display: flex;
    box-sizing: border-box;

    .avatar-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      border: none;
      box-shadow: 0 0 10px 1px teal;

      &.active {
        box-shadow: 0 0 10px 1px deeppink;
      }

      a {
        font-weight: bolder;
        color: teal;

        p {
          font-size: inherit;
          text-align: center;
        }
      }

      .avatar-image {
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        filter: saturate(140%);
        box-sizing: border-box;
        transition-property: transform, box-shadow;
        transition-duration: 0.85s;
        transition-timing-function: ease-out;
        cursor: pointer;
        z-index: 1;

        &.active {
          transform: translateX(55%) translateY(55%);
          box-shadow: 0 0 10px 1px teal;
        }
      }

      span {
        position: absolute;
        bottom: 0;
        opacity: 0;
        font-weight: bolder;
        color: deeppink;
        animation-name: manifestation;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
      }
    }
  }

  .headers {
    margin-left: 5px;

    .letter {
      display: inline-block;
      font-size: 2em;
      font-weight: bolder;
      animation-name: normalize;
      animation-fill-mode: forwards;
      z-index: 9999;
    }

    .l1 {
      animation-duration: 3.5s;
    }
    .l2 {
      animation-duration: 3s;
      animation-delay: 0.2s;
    }
    .l3 {
      animation-duration: 3s;
      animation-delay: 0.4s;
    }
    .l4 {
      animation-duration: 3s;
      animation-delay: 0.6s;
    }
    .l5 {
      margin-right: 5px;
      animation-duration: 3s;
      animation-delay: 0.8s;
    }
    .l6 {
      animation-duration: 3.5s;
      animation-delay: 1s;
    }
    .l7 {
      animation-duration: 3s;
      animation-delay: 1.2s;
    }
    .l8 {
      animation-duration: 3s;
      animation-delay: 1.4s;
    }
    .l9 {
      animation-duration: 3s;
      animation-delay: 1.6s;
    }
    .l10 {
      animation-duration: 3s;
      animation-delay: 1.8s;
    }
    .l11 {
      animation-duration: 3s;
      animation-delay: 2s;
    }
    .l12 {
      animation-duration: 3s;
      animation-delay: 2.2s;
    }
    .l13 {
      animation-duration: 3s;
      animation-delay: 2.4s;
    }
    .l14 {
      animation-duration: 3s;
      animation-delay: 2.6s;
    }

    .profession {
      animation-name: flash;
      animation-duration: 2.5s;
      animation-delay: 5.6s;
    }
  }

  .socials {
    display: flex;

    .socials-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;

      h5 {
        margin-left: 5px;
      }
    }

    .socials-image {
      width: 30px;
    }
  }
}

@keyframes normalize {
  100% {
    transform: none;
  }
}

@keyframes flash {
  0% {
    color: black;
  }
  50% {
    color: #a59263;
  }
  100% {
    color: black;
  }
}

@keyframes manifestation {
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {
  header {
    flex-direction: column;
    padding-bottom: 0;
    overflow-y: visible;

    .round {
      width: 580px;
      height: 400px;
      position: absolute;
      top: -220px;
      left: -250px;
      box-sizing: border-box;
      border-radius: 50%;
    }

    .avatar-wrapper {
      width: 140px;
      height: 140px;
      border-radius: 50%;

      a {
        font-size: 12px;
      }

      .avatar-image {
        width: 140px;
      }

      span {
        right: -40px;
        font-size: 12px;
      }
    }

    .headers {
      min-width: 145px;
      margin-left: 2px;

      .letter {
        display: inline-block;
        font-size: 19px;
        font-weight: bolder;
      }

      .l1 {
        transform: translateY(1150px) translateX(-120px) rotate(100deg);
      }
      .l2 {
        transform: translateY(1150px) translateX(-130px) rotate(100deg);
      }
      .l3 {
        transform: translateY(1150px) translateX(-140px) rotate(100deg);
      }
      .l4 {
        transform: translateY(1150px) translateX(-150px) rotate(100deg);
      }
      .l5 {
        transform: translateY(1150px) translateX(-160px) rotate(100deg);
      }
      .l6 {
        transform: translateY(1150px) translateX(-175px) rotate(100deg);
      }
      .l7 {
        transform: translateY(1150px) translateX(-185px) rotate(100deg);
      }
      .l8 {
        transform: translateY(1150px) translateX(-195px) rotate(100deg);
      }
      .l9 {
        transform: translateY(1150px) translateX(-205px) rotate(100deg);
      }
      .l10 {
        transform: translateY(1150px) translateX(-215px) rotate(100deg);
      }
      .l11 {
        transform: translateY(1150px) translateX(-225px) rotate(100deg);
      }
      .l12 {
        transform: translateY(1150px) translateX(-235px) rotate(100deg);
      }
      .l13 {
        transform: translateY(1150px) translateX(-245px) rotate(100deg);
      }
      .l14 {
        transform: translateY(1150px) translateX(-255px) rotate(100deg);
      }

      .profession {
        font-size: 14px;
      }
    }

    .socials {
      width: 100%;
      margin-top: 50px;
      justify-content: space-around;

      .socials-item {
        h5 {
          font-size: 9px;
          margin-left: 5px;
        }
      }

      .socials-image {
        width: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    padding-bottom: 0;
    overflow: visible;

    .round {
      width: 790px;
      height: 570px;
      position: absolute;
      top: -300px;
      left: -300px;
      box-sizing: border-box;
      border-radius: 50%;
    }

    .avatar-wrapper {
      width: 220px;
      height: 220px;
      border-radius: 50%;

      a {
        font-size: 16px;
      }

      .avatar-image {
        width: 220px;
      }

      span {
        right: -24px;
        font-size: 14px;
      }
    }

    .headers {
      min-width: 260px;
      margin-left: 5px;
      overflow-x: visible;

      .letter {
        display: inline-block;
        font-size: 30px;
        font-weight: bolder;
      }

      .l1 {
        transform: translateY(720px) translateX(-190px) rotate(100deg);
      }
      .l2 {
        transform: translateY(720px) translateX(-210px) rotate(100deg);
      }
      .l3 {
        transform: translateY(720px) translateX(-220px) rotate(100deg);
      }
      .l4 {
        transform: translateY(720px) translateX(-230px) rotate(100deg);
      }
      .l5 {
        transform: translateY(720px) translateX(-250px) rotate(100deg);
      }
      .l6 {
        transform: translateY(720px) translateX(-270px) rotate(100deg);
      }
      .l7 {
        transform: translateY(720px) translateX(-290px) rotate(100deg);
      }
      .l8 {
        transform: translateY(720px) translateX(-305px) rotate(100deg);
      }
      .l9 {
        transform: translateY(720px) translateX(-315px) rotate(100deg);
      }
      .l10 {
        transform: translateY(720px) translateX(-325px) rotate(100deg);
      }
      .l11 {
        transform: translateY(720px) translateX(-340px) rotate(100deg);
      }
      .l12 {
        transform: translateY(720px) translateX(-355px) rotate(100deg);
      }
      .l13 {
        transform: translateY(720px) translateX(-365px) rotate(100deg);
      }
      .l14 {
        transform: translateY(720px) translateX(-380px) rotate(100deg);
      }

      .profession {
        font-size: 20px;
      }
    }

    .socials {
      height: 30px;
      width: 140px;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      margin-top: 90px;
      margin-left: 60px;

      .socials-item {
        h5 {
          font-size: 0.83em;
          margin-left: 5px;
        }
      }

      .socials-image {
        width: 30px;
      }
    }
  }
}

@media print {
  header {
    flex-direction: row;
    padding-bottom: 0;
    .round {
      width: 790px;
      height: 570px;
      position: absolute;
      top: -300px;
      left: -300px;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: 0 0 15px 1px black;
    }

    .avatar-wrapper {
      width: 220px;
      height: 220px;
      border-radius: 50%;

      .avatar-image {
        width: 220px;
      }
    }

    .headers {
      min-width: 220px;
      margin-left: 5px;

      .letter {
        display: inline-block;
        font-size: 30px;
        font-weight: bolder;
      }

      .profession {
        font-size: 20px;
      }
    }

    .socials {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      margin-top: 90px;
      margin-left: 100px;

      .socials-item {
        h5 {
          font-size: 0.83em;
          margin-left: 5px;
        }
      }

      .socials-image {
        width: 30px;
      }
    }
  }
}

@media screen and (hover: hover) {
  .avatar-wrapper {
    .avatar-image {
      &:hover {
        box-shadow: 0 0 20px 1px yellow;
      }
    }
  }
}
