.info-about {
  width: calc(100vw - 20px);
  max-width: 500px;
  position: relative;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #e9d66b;

  h1 {
    &::first-letter {
      color: red;
    }
  }

  .about-paragraph {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2px;

    a {
      color: #c734c7;
    }
  }

  .return {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}
